.search_fields {
    background-image: linear-gradient(rgba(132, 135, 136, 0.623) 0, transparent), url("../images/travel.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;

    .header {
        font-family: 'Indie Flower', cursive;
        font-size: 38px;
        text-align: center;
        padding: 2vh 0;
        margin-top: 15px;
    }

    .search_form {
        width: 20em;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 15vh 0;
    }

    label {
        font-size: 23px;
    }

    .search_input {
        outline: none;
        height: 40px;
        border: none;
        border-radius: 25px;
        margin: 5px;
        text-align: center;
    }

    .input_search {
        font-size: 25px;
    }

    .input_date {
        padding: 0px 15px;
    }

    .input_submit {
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        background-color: #3498db;
        cursor: pointer;
    }

    .search_input::placeholder {
        color: silver;
        text-align: center;
        padding-left: 5px;
        font-size: 20px;
    }

    .search_input::-ms-input-placeholder {
        transform: scale(0.7) translateX(-0.1rem);
    }
}

@media (min-width: 600px) {
    .search_fields .header {
        font-size: 70px;
    }
}
