@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Signika:wght@500&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Signika', sans-serif;
}

input {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background-color: #f1f0f0;
    margin: 0;
}
